trigger:
  branches:
    include:
      - development
  paths:
    include:
      - web-app/**

variables:
  acrName: 'bdecontainerregistrydev'
  azureSubscription: 'Azure Resource Manager Dev'
  dockerRegistryServiceConnection: 'Docker Registry service connection Dev'
  imageRepository: 'bde-image-dev'
  dockerfilePath: '$(Build.SourcesDirectory)/web-app/Dockerfile'
  tag: '$(Build.BuildId)'
  webAppName: 'bde-webapp-dev'

stages:
  - stage: Build
    displayName: Build and Push
    jobs:
      - job: Build
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: Docker@2
            displayName: Build and push image
            inputs:
              command: buildAndPush
              repository: $(imageRepository)
              dockerfile: $(dockerfilePath)
              containerRegistry: $(dockerRegistryServiceConnection)
              tags: |
                $(tag)
                latest

  - stage: Deploy
    displayName: Deploy to Web App
    dependsOn: Build
    jobs:
      - job: Deploy
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: AzureWebAppContainer@1
            displayName: Deploy to Azure Web App
            inputs:
              azureSubscription: $(azureSubscription)
              appName: $(webAppName)
              containers: $(acrName).azurecr.io/$(imageRepository):$(tag)